$primary: #3c8fe8;
$primary-variant: #343c97;

$secondary: #e0c341;
$secondary-variant: #e3a136;

$background: #ffffff;
$surface: #ffffff;
$error: #d43725;

$on-primary: #ffffff;
$on-secondary: #282525;
$on-background: #282525;
$on-surface: #282525;
$on-error: #ffffff;
