@use '../../scss/style.scss' as *;

.header {
    background-color: $primary;
    height: 150px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 5px $gray-light;

}

.navbar {
    display: flex;
    justify-content: space-between;
    width: auto;
    height:100%;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;

    &__list{
        display: flex;
        align-items: center;
        a{
            color: $on-primary;
            padding: 10px;
            border-radius: 5px;
        }
        a:hover {
            background-color: $primary-variant;
        }
    }
    &__link{
        margin:0px 10px;
    }
}
